

<div class="container">
  <h1>Dashboard</h1>

  <div class="metrics">
    <mat-card>
      <h3>TCEA Promedio</h3>
      <p class="value">5.75%</p>
    </mat-card>
    <mat-card>
      <h3>TREA Promedio</h3>
      <p class="value">5.75%</p>
    </mat-card>
  </div>

  <div class="bonos-header">
    <h2>Bonos Registrados</h2>
    <button mat-raised-button class="nuevo-bono-btn" [routerLink]="'/nuevo-bono'">
      Nuevo Bono
    </button>
  </div>

  <div *ngIf="loading" style="text-align: center; margin-top: 20px;">
    <p>Cargando bonos...</p>
  </div>

  <div *ngIf="error" style="text-align: center; margin-top: 20px; color: red;">
    <p>{{ error }}</p>
  </div>

  <table mat-table [dataSource]="bonos" class="mat-elevation-z2 full-width-table" *ngIf="!loading && !error && bonos.length > 0">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let bono"> {{bono.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="valorNominal">
      <th mat-header-cell *matHeaderCellDef> Valor Nominal </th>
      <td mat-cell *matCellDef="let bono"> {{bono.moneda}} {{bono.valorNominal | number:'1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="tasaDeInteresAnualParaCalculo">
      <th mat-header-cell *matHeaderCellDef> Tasa Cupón </th>
      <td mat-cell *matCellDef="let bono"> {{bono.tasaDeInteresAnualParaCalculo * 100 | number:'1.2-2'}}% </td>
    </ng-container>

    <ng-container matColumnDef="fechaEmision">
      <th mat-header-cell *matHeaderCellDef> Fecha Emisión </th>
      <td mat-cell *matCellDef="let bono"> {{bono.fechaEmision | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaVencimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Vencimiento </th>
      <td mat-cell *matCellDef="let bono"> {{bono.fechaVencimiento | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="frecuenciaPagoTexto">
      <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
      <td mat-cell *matCellDef="let bono"> {{bono.frecuenciaPagoTexto}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let bono">
        <button mat-icon-button color="primary" [routerLink]="['/vista-bono', bono.id]"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button color="accent" [routerLink]="['/editar-bono', bono.id]"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" ><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="!loading && !error && bonos.length === 0" style="text-align: center; margin-top: 20px;">
    <p>No hay bonos registrados. ¡Crea uno nuevo!</p>
  </div>
</div>
