.Title {
  font-size: 25px;
  color: #006644;
  font-weight: bold;
}
.username{
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 15px;
}
.spacer {
  flex: 1 1 auto;
}

button {
  font-size: 16px;
}

mat-toolbar button:hover {
  color: #009D69 !important;
}

mat-icon{
  color: black !important;
}

