<div class="datos-financieros">
  <h1>Datos Financieros</h1>
  <p class="subtitle">Ingrese los datos financieros del bono</p>

  <div class="form-row">
    <div class="form-column">
      <h2>Tasa Cupón (% anual)</h2>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tasa Efectiva Anual (TEA)</mat-label>
        <input matInput type="number" [(ngModel)]="bono.tasaDeInteresAnualParaCalculo" (ngModelChange)="onFieldChange()" step="0.0001">
        <span matSuffix>%</span> </mat-form-field>

      <h3>Fecha de Emisión</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>dd / mm / aaaa</mat-label>
        <input matInput [matDatepicker]="pickerEmision" [(ngModel)]="bono.fechaEmision" (ngModelChange)="onFieldChange()">
        <mat-datepicker-toggle matSuffix [for]="pickerEmision"></mat-datepicker-toggle>
        <mat-datepicker #pickerEmision></mat-datepicker>
      </mat-form-field>

      <h3>Frecuencia de Pago</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select [(ngModel)]="bono.frecuenciaPagoTexto" (ngModelChange)="onFieldChange()">
          <mat-option *ngFor="let freq of frecuenciaPagoOptions" [value]="freq.value">{{ freq.value }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="form-column">

      <h3>Plazo del Bono (Años)</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ej: 3 (años)</mat-label>
        <input matInput type="number" [(ngModel)]="bono.plazoEnAnios" (ngModelChange)="onFieldChange()">
      </mat-form-field>

    </div>
  </div>
  <div class="button-row">
    <button mat-raised-button (click)="onBackSection()" class="cancel-button">Anterior</button>
    <button mat-raised-button (click)="onAdvanceSection()" class="siguiente-button">Siguiente</button>
  </div>
</div>
