<div class="datos-financieros">
  <h1>Datos Financieros</h1>
  <p class="subtitle">Ingrese los datos financieros del bono</p>

  <div class="form-row">
    <div class="form-column">
      <h2>Tasa Cupón (% anual)</h2>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tasa Efectiva Anual (TEA)</mat-label>
        <input matInput type="number"
               [(ngModel)]="bono.tasaDeInteresAnualParaCalculo"
               (ngModelChange)="onFieldChange()"
               step="0.0001"
               min="0"  max="20" #tasaCuponInput="ngModel" required> <span matSuffix>%</span>
        <mat-error *ngIf="tasaCuponInput.hasError('required') && tasaCuponInput.touched">La tasa cupón es obligatoria.</mat-error>
        <mat-error *ngIf="tasaCuponInput.hasError('min') && tasaCuponInput.touched">La tasa cupón no puede ser negativa.</mat-error>
        <mat-error *ngIf="tasaCuponInput.hasError('max') && tasaCuponInput.touched">La tasa cupón no debe exceder el 20%.</mat-error>
      </mat-form-field>

      <h3>Fecha de Emisión</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>dd / mm / aaaa</mat-label>
        <input matInput [matDatepicker]="pickerEmision" [(ngModel)]="bono.fechaEmision" (ngModelChange)="onFieldChange()">
        <mat-datepicker-toggle matSuffix [for]="pickerEmision"></mat-datepicker-toggle>
        <mat-datepicker #pickerEmision></mat-datepicker>
      </mat-form-field>

      <h3>Frecuencia de Pago</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select [(ngModel)]="bono.frecuenciaPagoTexto" (ngModelChange)="onFieldChange()" required #frecuenciaPagoInput="ngModel">
          <mat-option [value]="'Semestral'">Semestral</mat-option>
        </mat-select>
        <mat-error *ngIf="frecuenciaPagoInput.hasError('required') && frecuenciaPagoInput.touched">La frecuencia de pago es obligatoria.</mat-error>
      </mat-form-field>

    </div>

    <div class="form-column">

      <h3>Plazo del Bono (Años)</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Seleccione el Plazo</mat-label>
        <mat-select [(ngModel)]="bono.plazoEnAnios" (ngModelChange)="onFieldChange()" required #plazoAniosInput="ngModel">
          <mat-option *ngFor="let plazo of plazosDisponibles" [value]="plazo">{{ plazo }}</mat-option>
        </mat-select>
        <mat-error *ngIf="plazoAniosInput.hasError('required') && plazoAniosInput.touched">El plazo es obligatorio.</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="button-row">
    <button mat-raised-button (click)="onBackSection()" class="cancel-button">Anterior</button>
    <button mat-raised-button (click)="onAdvanceSection()" class="siguiente-button">Siguiente</button>
  </div>
</div>
